* {
    font-size: 1rem
}

html, body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

#root {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}