<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/register.css">
    <title>Document</title>
</head>
<body style="background-color: pink;">
    <div id="root">
        <form method="POST">
            <div class="title">
                <h3>Dating For Everyone</h3>
            </div>
            
            <div class="form_input">
                <label>Email</label>
                <input type="text" name="em">
            </div>
    
            <div class="form_input">
                <label>Mật Khẩu</label>
                <input type="password" name="password">
            </div>
            
            <div class="form_input">
                <label>Họ và tên</label>
                <input type="text", name="name">
            </div>

            <div class="form_input">
                <label>Tên hiển thị</label>
                <input type="text", name="username">
            </div>

            <div class="form_input">
                <label>Giới Tính</label> <br>
                <input type="radio" name="gender" value="male" checked> Nam
                <input type="radio" name="gender" value="female" checked> Nữ
            </div>

            <div class="form_input">
                <label>Ngày sinh</label>
                <input type="date" name="birth" min="1998-01-02">
            </div>

            <div class="form_input">
                <label>Nhập link ảnh của bạn</label>
                <input type="text" name="img">
            </div>

            <div class="form_input">
                <label>Thành Phố</label>
                <select name= "city">
                        <option value="An Giang">An Giang
                        <option value="Bà Rịa - Vũng Tàu">Bà Rịa-Vũng Tàu
                        <option value="Bắc Giang">Bắc Giang
                        <option value="Bắc Kạn">Bắc Kạn
                        <option value="Bạc Liêu">Bạc Liêu
                        <option value="Bắc Ninh">Bắc Ninh
                        <option value="Bến Tre">Bến Tre
                        <option value="Bình Định">Bình Định
                        <option value="Bình Dương">Bình Dương
                        <option value="Bình Phước">Bình Phước
                        <option value="Bình Thuận">Bình Thuận
                        <option value="Bình Thuận">Bình Thuận
                        <option value="Cà Mau">Cà Mau
                        <option value="Cao Bằng">Cao Bằng
                        <option value="Đắk Lắk">Đắk Lắk
                        <option value="Đắk Nông">Đắk Nông
                        <option value="Điện Biên">Điện Biên
                        <option value="Đồng Nai">Đồng Nai
                        <option value="Đồng Tháp">Đồng Tháp
                        <option value="Đồng Tháp">Đồng Tháp
                        <option value="Gia Lai">Gia Lai
                        <option value="Hà Giang">Hà Giang
                        <option value="Hà Nam">Hà Nam
                        <option value="Hà Tĩnh">Hà Tĩnh
                        <option value="Hải Dương">Hải Dương
                        <option value="Hậu Giang">Hậu Giang
                        <option value="Hòa Bình">Hòa Bình
                        <option value="Hưng Yên">Hưng Yên
                        <option value="Khánh Hòa">Khánh Hòa
                        <option value="Kiên Giang">Kiên Giang
                        <option value="Kon Tum">Kon Tum
                        <option value="Lai Châu">Lai Châu
                        <option value="Lâm Đồng">Lâm Đồng
                        <option value="Lạng Sơn">Lạng Sơn
                        <option value="Lào Cai">Lào Cai
                        <option value="Long An">Long An
                        <option value="Nam Định">Nam Định
                        <option value="Nghệ An">Nghệ An
                        <option value="Ninh Bình">Ninh Bình
                        <option value="Ninh Thuận">Ninh Thuận
                        <option value="Phú Thọ">Phú Thọ
                        <option value="Quảng Bình">Quảng Bình
                        <option value="Quảng Bình">Quảng Bình
                        <option value="Quảng Ngãi">Quảng Ngãi
                        <option value="Quảng Ninh">Quảng Ninh
                        <option value="Quảng Trị">Quảng Trị
                        <option value="Sóc Trăng">Sóc Trăng
                        <option value="Sơn La">Sơn La
                        <option value="Tây Ninh">Tây Ninh
                        <option value="Thái Bình">Thái Bình
                        <option value="Thái Nguyên">Thái Nguyên
                        <option value="Thanh Hóa">Thanh Hóa
                        <option value="Thừa Thiên Huế">Thừa Thiên Huế
                        <option value="Tiền Giang">Tiền Giang
                        <option value="Trà Vinh">Trà Vinh
                        <option value="Tuyên Quang">Tuyên Quang
                        <option value="Vĩnh Long">Vĩnh Long
                        <option value="Vĩnh Phúc">Vĩnh Phúc
                        <option value="Yên Bái">Yên Bái
                        <option value="Phú Yên">Phú Yên
                        <option value="Tp.Cần Thơ">Cần Thơ
                        <option value="Tp.Đà Nẵng">Đà Nẵng
                        <option value="Tp.Hải Phòng">Hải Phòng
                        <option value="Tp.Hà Nội">Hà Nội
                        <option value="TP  HCM">TP HCM
                        </select>
            </div>

            <div class="form_input">
                <label>Sở thích</label>
                <input type="text" name="hobby">
            </div>

            <div class="form_input">
                <label>Số điện thoại</label>
                <input type="text" name="phone">
            </div>

            <div class="form_input">
                <label>Mô tả bản thân</label>
                <input type="text" name="description">
            </div>

            <div id="btn_login">
                <button>Register</button>
            </div>

        </form>
    </div>
</body>
</html>